body {
    background-color: #f3f3f3;
    color: #000;
  }
  .navbar {
    background-color: #fff;
  }
  .sidebar {
      z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Занимает всю ширину экрана */
    background-color: #fff;
    padding: 20px;
    display: none; /* Начальное состояние - скрытый */
  }
  .sidebar.show {
    display: block; /* Показываем сайдбар */
  }
  .sidebar-brand {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .sidebar-menu {
    margin-bottom: 20px;
  }
  .sidebar-menu a {
    display: block;
    text-decoration: none;
    padding: 10px 0;
  }
  .sidebar-menu a:hover {
    background-color: rgba(0, 255, 0, 0.1);
  }
  .news-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top:100px;
    padding: 20px;
  }
  .news-card {
    background-color: #f3f3f3;
    margin-bottom: 30px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  @media (min-width: 1200px) {
    /* Для экранов шириной 768px и более */
    .sidebar {
    
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 250px;
      display: block; /* Показываем сайдбар */
    }
    .filter-btn {
    display: none; /* Начальное состояние - показанная */
  
  }
  }
 
  @media (max-width: 1200px) {
    /* Для экранов шириной 767px и менее */
    .filter-btn {
      display: block; /* Показываем кнопку */
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 999;
    }
  }

.flash {
    padding: 15px;
    border-radius: 10px;
}

.flash.success {
    border: 1px solid #21DB56;
    background: #AEFFC5;
}

.flash.error {
    border: 1px solid #FF4343;
    background: #FF9C9C;
}