{% extends 'base.html' %}

{% block content %}
  <!-- News Container -->
  <div class="news-container">
    <!-- News Cards -->
    <div class="row justify-content-center">
        <div class="col-md-11">
            <h2 class="card-title">{{post.title}}</h2>
                   <p class="card-text">{{post.post}}</p>
            <p class="card-text d-flex">
                <small class="text-muted me-auto ">Категория: {{post.name}}</small>
                <small class="text-muted">Автор: {{post.username}}, {{post.date|formatdatetime('%d %B %Y, %H:%M')}}</small>
            </p>
        </div>
    </div>
  </div>

{% endblock content %}